* *{
    margin: 0px;
    padding: 0px;
  } */
  .header{
      background: radial-gradient(#fff,#ffd6d6);
  }
  
   
  .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  nav{
    flex: 1;
    text-align: right;
  }
   nav ul{
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 20px;
  }
  .login-box{
  
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type=text],input[type=password]{
    width:100%;
    margin: 5px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
   .login-box label{
    margin-bottom: 10px;
  } 
  button{
    width: 100%;
    background-color: #4cad50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
  
  }
  label{
    color: #555;
  }
  a{
    text-decoration: none;
    color: #555;
  }
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  
  }
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header{
    margin-top: 70px;
  }
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img{
    max-width:100%;
    padding:50px 0px;
  }
  
  .col-2 h1
  {
    font-size:50px;
    line-height:60px;
    margin:25px 0;
  }
  